<!DOCTYPE html>
<html>
<head>
	<html lang="zh-tw">
	<title>海外聯招會委員學校平台</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/<%- current.source %>.css">
</head>
<body>
	<div class="container">

		<%- partial("components/_header") %>
		<%- yield %>
		<%- partial("components/_footer") %>

	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
	<script src="js/<%- current.source %>.js"></script>
	<script src="./js/browser.js"></script>
	<script src="./env.js"></script>
	<script>
		if(!Browser.checkBrowserSupport()) {
			alert('請使用 Chrome, Firefox, Safari 或 Edge 版本 > 14 的瀏覽器。');
			window.history.back();
		}

		if (!env.isProduction) {
			document.title='海外聯招會委員學校平台-測試站';
			document.getElementById('navbar-brand-logo').innerHTML='<img src="/img/logo.png" height="30" class="d-inline-block align-top">海外聯招會委員學校平台-測試站';
		}
	</script>
</body>
</html>
